@font-face {
  font-family: "DigitalDismay";
  src: url("./font/digital-dismay.otf") format("opentype");
  /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
}

@font-face {
  font-family: "Eurostile";
  src: url("./font/Eurostile.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "EurostileExtended";
  src: url("./font/eurostile_extended_black.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Eurostile";
  src: url("./font/EurostileBold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "Eurostile";
  src: url("./font/EurostileOblique.ttf") format("truetype");
  font-style: oblique;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500;1,600&display=swap");

:root {
  --clock-black: #3c3c3c;
  --casio-blue: #103a60;
}

body {
  width: 100%;
  height: 100%;
}

#digital-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #111111;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  height: 70%;
  width: 76%;
  border-radius: 15%;
  border: var(--casio-blue) 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-image: url(../images/casio-border.png); */
  background-repeat: no-repeat;
  background-size: contain;
}

.border::after {
  position: absolute;
  content: "";
  height: 93%;
  width: 95%;
  border-radius: 15%;
  border: #faf9f6 3px solid;
  display: flex;
}

.header {
  width: 63%;
  height: 21%;
  /* border: #a3a7a6 1px solid; */
  font-family: "Eurostile";
}

.header-logo {
  color: aliceblue;
  margin-top: 3px;
  font-family: "EurostileExtended", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo-gold {
  font-family: "Eurostile";
  font-size: 7px;
  color: #93753a;
  letter-spacing: 1px;
}

.header-description {
  background-color: var(--casio-blue);
  margin-top: 3px;
  margin-left: 17px;
  height: 17px;
  width: 150px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 7px;
  position: relative;

  color: #c4c8d1;
  font-size: 10.5px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

.header-description-bigletter {
  font-size: 15px;
}

.header-description::before {
  content: "";
  /* background-color: var(--casio-blue); */
  position: absolute;
  top: 0;
  left: -37px;
  /* width: 20px;
  height: 21px; */

  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-right: 17px solid var(--casio-blue);
  border-left: 20px solid transparent;
  border-bottom: 9px solid transparent;
}

.footer {
  width: 63%;
  height: 25%;
  border: #a3a7a6 1px solid;
}

/* #battery-rec {
  position: absolute;
  width: 10%;
  height: 5%;
  top: 20%;
  left: 63%;
  border: solid 2px white;
}

#battery-fill {
  position: absolute;
  width: 11%;
  height: 6%;
  top: 20%;
  left: 63%;
  z-index: 10;
  background-color: white;
} */

/*
hour&minutes
*/

#rec-time {
  width: 63%;
  height: 35%;
  background-color: #ced5cd;
  display: flex;
  justify-content: right;
  border-radius: 5%;
  padding: 4px;
  font-family: "DigitalDismay";
}

#str-hours {
  font-size: 400%;
  float: left;
  color: var(--clock-black);
}

#str-console {
  font-size: 400%;
  float: left;
  color: var(--clock-black);
}

#str-minutes {
  font-size: 400%;
  float: left;
  color: var(--clock-black);
}

#str-ampm {
  font-size: 200%;
  color: black;
  padding-top: var(--clock-black);
}

/*
string day & month
*/

#rec-string-time {
  position: absolute;
  height: 30%;
  top: 60%;
  left: 24%;
}

#str-day {
  font-size: 250%;
  color: white;
  float: left;
}

@media screen and (-tizen-geometric-shape: circle) {
  #str-hours {
    font-size: 600%;
  }

  #str-console {
    font-size: 600%;
  }

  #str-minutes {
    font-size: 600%;
  }

  #rec-string-time {
    left: 80px;
  }
}
