@font-face {
  font-family: "DigitalDismay";
  src: url("./font/digital-dismay.otf") format("opentype");
  /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
}

@font-face {
  font-family: "Eurostile";
  src: url("./font/Eurostile.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "EurostileExtended";
  src: url("./font/eurostile_extended_black.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Eurostile";
  src: url("./font/EurostileBold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "Eurostile";
  src: url("./font/EurostileOblique.ttf") format("truetype");
  font-style: oblique;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500;1,600&display=swap");

:root {
  --clock-black: #3c3c3c;
  --casio-blue: #103a60;
  --clock-size: 320%;
  --clock-second-size: 220%;
  --casio-red: #d62411;
  --casio-gold: #93753a;
}

body {
  width: 100%;
  height: 100%;
}

#digital-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #111111;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  height: 70%;
  width: 76%;
  border-radius: 15%;
  border: var(--casio-blue) 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-image: url(../images/casio-border.png); */
  background-repeat: no-repeat;
  background-size: contain;
}

.border::after {
  position: absolute;
  content: "";
  height: 93%;
  width: 95%;
  border-radius: 15%;
  border: #faf9f6 3px solid;
  display: flex;
}

.header {
  width: 63%;
  height: 21%;
  /* border: #a3a7a6 1px solid; */
  font-family: "Eurostile";
}

.header-logo {
  color: aliceblue;
  margin-top: 3px;
  font-family: "EurostileExtended", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo-gold {
  font-family: "Eurostile";
  font-size: 7px;
  color: var(--casio-gold);
  letter-spacing: 1px;
}

.header-description {
  background-color: var(--casio-blue);
  margin-top: 3px;
  margin-left: 17px;
  height: 17px;
  width: 150px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 7px;
  position: relative;

  color: #c4c8d1;
  font-size: 10.5px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

.header-description-bigletter {
  font-size: 15px;
}

.header-description::before {
  content: "";
  /* background-color: var(--casio-blue); */
  position: absolute;
  top: 0;
  left: -37px;
  /* width: 20px;
  height: 21px; */

  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-right: 17px solid var(--casio-blue);
  border-left: 20px solid transparent;
  border-bottom: 9px solid transparent;
}

.footer {
  width: 63%;
  height: 25%;
  /* border: #a3a7a6 1px solid; */
  font-family: "EurostileExtended", sans-serif;
}

.footer-illuminator {
  width: 100%;
  height: 50%;
  /* border: #a3a7a6 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-illuminator-text {
  color: var(--casio-red);
  font-size: 70%;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}

.footer-illuminator-text::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -15px;

  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 5px solid transparent;
  border-right: 13px solid var(--casio-red);
  border-left: 0px solid transparent;
  border-bottom: 4px solid transparent;
  transform: rotate(7deg);
  
}

.footer-illuminator-text::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -15px;

  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 4px solid transparent;
  border-right: 0px solid transparent;
  border-left: 13px solid var(--casio-red);
  border-bottom: 5px solid transparent;
  transform: rotate(7deg);
}


.footer-water-resist {
  width: 100%;
  height: 50%;
  /* border: #a3a7a6 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
   position: relative;
}

.footer-water-resist-text {
  color: var(--casio-gold);
  font-size: 70%;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-water-resist::before {
  content: '';
  position: absolute;
  top: 0;
  width: 115%;
  height: 1.5px;
  background-color: #fff;
}

.rec-body {
  width: 63%;
  height: 35%;
  background-color: #ced5cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  padding: 4px;
  font-family: "DigitalDismay";
  border: #000 3px solid;
}

#rec-header {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  
  /* border: #fff 3px dotted; */
}

#str-day {
  font-size: 20px;
  color: var(--clock-black);
}

#battery-fill {
  font-size: 20px;
  color: var(--clock-black);
}

#rec-time {
  /* border: #fff 3px solid; */
  display: flex;
}

/* #rec-time > div {
  height: 60px;
} */

#str-hours {
  font-size: var(--clock-size);
  color: var(--clock-black);
  padding: 0;
}

#str-console {
  font-size: var(--clock-size);
  color: var(--clock-black);
}

#str-minutes {
  font-size: var(--clock-size);
  color: var(--clock-black);
}

#str-seconds {
  font-size: var(--clock-second-size);
  color: var(--clock-black);
  padding-top: 15px;
  padding-left: 2px;
}


#str-ampm {
  font-size: var(--clock-size);
  color: black;
  padding-top: var(--clock-black);
   border: #000 3px solid;
}

/*
string day & month
*/

#rec-string-time {
  position: absolute;
  height: 30%;
  top: 60%;
  left: 24%;
  /* color: var(--casio-red) */
}

/* @media screen and (-tizen-geometric-shape: circle) {
  #rec-time {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  #rec-string-time {
    left: 80px;
  }
} */
